extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/playlists')
        | Name: 
        input(type='text', name='nameOfPlaylist')
        br
        input(type='submit', value='Add')
        input(type='submit', value='Cancel')