extends layout

block content
  h1= title
  p Welcome to #{title}

  h1 #{msg}
      form(method='POST', action='/login')
          | Username:
          br
          input(type='text', name='username', placeholder='Username')
          br
          |   Password:
          br
          input(type='password', name='password', placeholder='Password')
          br
          br
          input(type='submit', value='Login')
          br
          h4 or
          br
          a(href='/register') Register
