extends layout

block content

  h1 #{msg}
  div.container
    div.row
        div.page-header
            h2 Login Form
        form.form-horizontal(method='POST', action='/login')
            fieldset
                legend
                    h3 Have an account? Sign In
                div.form-group
                    label.col-md-1.control-label(for='username')
                    div.col-md-12
                        input#username.form-control.input-md(name='username', type='text', placeholder='Username')
                
                div.form-group
                    label.col-md-1.control-label(for='password')
                    div.col-md-12
                        input#password.form-control.input-md(name='password', type='password', placeholder='Password')
                
                div.form-group
                    label.col-md-1.control-label(for='login')
                    div.col-md-5
                        button#login.btn.btn-block.btn-success(name='login', type='submit') Login
                    div.col-md-5
                        a#forpass.btn.btn-block.btn-warning(href='/register', name='register') Register
