extends layout

block content
  h1= title
  p Welcome to #{title}

  a(href='/users/newSong') Add song to Playlist
  br
  a(href='/') Playlists
  br
  a(href='/') Login
  br

  for song in songs
    h3 #{song.song_name}
    br
    a(href='/users/songCreated') #{song.song_url}