extends layout

block content

    form(method='POST', action='/users/newPlaylist')
      label(for='thePlaylist') Name of Playlist
      br
      textarea(name='thePlaylist')
      br
      input(type='submit', name='Add new Playlist')