extends layout

block content

    form(method='POST', action='/users/newPlaylist')
      div
        label(for='thePlaylist') Name of Playlist
        div
          textarea(type='text', name='thePlaylist')
          br
          input(type='hidden', name='username_of_playlist' value='#{usernameOfPlaylist}')
          br
          input(type='submit', name='Add new Playlist')
    
    a(href='/playlists') Cancel