extends layout

block content

    form(method='POST', action='/users/newSongAdded')
      label(for='theSong') Name of Song
      br
      textarea(name='theSong')
      br
      label(for='theSongURL') URL of Song
      br
      textarea(name='theSongURL')
      br
      input(type='submit', name='Add new Song')
    
    a(href='/') Cancel