extends layout

block content

    form(method='POST', action='/users/newPlaylist')
      div
        label(for='thePlaylist') Name of Playlist
        div
          textarea(type='text', name='thePlaylist')
          br
          input(type='submit', name='Add new Playlist')
    
    a(href='/') Cancel