extends layout

block content
  
   h1 Welcome #{username}
   h3 Your Playlists
   br
   a.btn.btn-block.btn-warning(href='/logout')
    h4 Logout
   br
   a.btn.btn-block.btn-warning(href='/users/createPlaylist?username=#{username}')
    h4 Create new Playlists
   br
   
   for playlist in playlists
    a.btn.btn-block.btn-success(href='/users/playlistCreated?id=#{playlist.playlist_id}')
      h4 #{playlist.playlist_name}
    br