extends layout

block content
  h1= title
  p Welcome to #{title}

   h1 My Playlists
   br
   a(href='/users/createPlaylist') Create a new Playlists
   br

   for playlist, i in playlists
      p 
      small #{new Date(playlist.date).toLocaleDateString()}
      p #{playlist.text}