extends layout

block content
  h1= title
  p Welcome to #{title}

   h1 My Playlists
   br
   a(href='/login') Login
   br
   a(href='/users/createPlaylist') Create a new Playlists
   br

   for playlist in playlists
    a(href='/users/playlistCreated') #{playlist.playlist_name} #{playlist.playlist_id}
    br