extends layout

block content
  h1= title
  p Welcome to #{title}

  div.container
    div.row
        div.page-header
            h2 Register
        form.form-horizontal(method='POST', action='/register')
            fieldset
                legend
                    h3 Signup for 100% control of your experience
                div.form-group
                    label.col-md-1.control-label(for='username')
                    div.col-md-12
                        input#username.form-control.input-md(name='username', type='text', placeholder='Username')

                div.form-group
                    label.col-md-1.control-label(for='password')
                    div.col-md-12
                        input#password.form-control.input-md(name='password', type='password', placeholder='Password')

                div.form-group
                    label.col-md-1.control-label(for='login')
                    div.col-md-5
                        button#login.btn.btn-block.btn-success(name='submit', type='submit') Register
                    div.col-md-5
                        a#forpass.btn.btn-block.btn-danger(href='/', name='cancel') Cancel 

  //form(method='POST', action='/register')
    label(for='username') Username
    input(type='text', name='username', placeholder='Username')
    br
    label(for='password') Password
    input(type='password', name='password', placeholder='Password')
    br
    button(type='submit') Register
  